<p>cta-block works!</p>
<div _ngcontent-jtn-c43="" class="section cta-block-container">
  <div _ngcontent-jtn-c43="" class="cta-block-container__cta">
    <div _ngcontent-jtn-c43="" class="background-image cta-block-container__background-image"><img
        _ngcontent-jtn-c43="" appparallax=""
        class="background-image__img background-image__img--desktop cta-block-container__background-image__img"
        src="assets/images/cta-blocks/events-talks@2x.jpg" alt="Events &amp; talks"
        style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);"><img
        _ngcontent-jtn-c43="" appparallax=""
        class="background-image__img background-image__img--mobile cta-block-container__background-image__img"
        src="assets/images/cta-blocks/events-talks-mobile@2x.jpg" alt="Events &amp; talks"
        style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
    </div>
    <div _ngcontent-jtn-c43="" class="text-area cta-block-container__text">
      <h3 _ngcontent-jtn-c43="" class="cta-block-container__h3">Events &amp; talks</h3>
      <p _ngcontent-jtn-c43="" class="cta-block-container__p">More than 100 high profile events
        spanning 33 countries in less than 4 years since launch.</p>
      <div _ngcontent-jtn-c43="" class="item-list cta-block-container__item-list">
        <app-button _ngcontent-jtn-c43="" _nghost-jtn-c39="">
        </app-button>
        <!---->
      </div>
    </div>
  </div>
  <div _ngcontent-jtn-c43="" class="cta-block-container__cta">
    <div _ngcontent-jtn-c43="" class="background-image cta-block-container__background-image"><img
        _ngcontent-jtn-c43="" appparallax=""
        class="background-image__img background-image__img--desktop cta-block-container__background-image__img"
        src="assets/images/cta-blocks/taking-on-gravity-book-2@2x.jpg?1" alt="Taking on gravity"
        style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);"><img
        _ngcontent-jtn-c43="" appparallax=""
        class="background-image__img background-image__img--mobile cta-block-container__background-image__img"
        src="assets/images/cta-blocks/taking-on-gravity-book-mobile-2@2x.jpg?1"
        alt="Taking on gravity"
        style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
    </div>
    <div _ngcontent-jtn-c43="" class="text-area cta-block-container__text">
      <h3 _ngcontent-jtn-c43="" class="cta-block-container__h3">Taking on Technology</h3>
      <p _ngcontent-jtn-c43="" class="cta-block-container__p">OUT NOW!
        Where we go next is up to you.</p>
      <div _ngcontent-jtn-c43="" class="item-list cta-block-container__item-list">
        <app-button _ngcontent-jtn-c43="" _nghost-jtn-c39="">
          <!---->
          <!----><a _ngcontent-jtn-c39="" class="button button--turquoise"
            href="https://www.shop.gravity.co/accessories/8c70f5p1cvbqmzi6dko51wdp9sq47y"
            target="undefined"><span _ngcontent-jtn-c39="" class="button__text">Order Signed
              Copy</span><span _ngcontent-jtn-c39="" class="button__text button__text--sizer">Order
              Signed Copy</span><span _ngcontent-jtn-c39=""
              class="button__text button__text--hover">Order Signed Copy</span></a>
          <!---->
        </app-button>
        <app-button _ngcontent-jtn-c43="" _nghost-jtn-c39="">
          <!---->
          <!----><a _ngcontent-jtn-c39="" class="button button--orange"
            href="http://hyperurl.co/TakingOnGravity" target="undefined"><span _ngcontent-jtn-c39=""
              class="button__text">Order on Amazon</span><span _ngcontent-jtn-c39=""
              class="button__text button__text--sizer">Order on Amazon</span><span
              _ngcontent-jtn-c39="" class="button__text button__text--hover">Order on
              Amazon</span></a>
          <!---->
        </app-button>
        <!---->
      </div>
    </div>
  </div>
  <!---->
</div>