<p>article-slides works!</p>
<div class="section article-slides-container article-slides-container--undefined article-slides-container--bottom">
  <div class="container article-slides-container__container">
    <h2 class="article-slides-container__h2">Our training centres</h2>
    <!---->
    <div class="article-slides-container__nav">
      <div
        class="arrow-cta arrow-cta--left article-slides-container__arrow-cta article-slides-container__arrow-cta--left arrow-cta--disabled">
        <div class="arrow arrow-cta__arrow article-slides-container__arrow"></div>
        <div class="arrow arrow-cta__arrow article-slides-container__arrow"></div>
      </div>
      <div class="arrow-cta article-slides-container__arrow-cta">
        <div class="arrow arrow-cta__arrow article-slides-container__arrow"></div>
        <div class="arrow arrow-cta__arrow article-slides-container__arrow"></div>
      </div>
    </div>
    <!---->
    <div class="article-slides-container__background-images">
      <div
        class="background-image article-slides-container__background-image article-slides-container__background-image--active">
        <img appparallax="" class="background-image__img" alt="The Goodwood estate" title="The Goodwood estate"
          src="assets/images/article-slides/goodwood@2x.webp"
          style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
      </div>
      <div
        class="background-image article-slides-container__background-image article-slides-container__background-image--next">
        <img appparallax="" class="background-image__img" alt="AIR7 Camarillo, California"
          title="AIR7 Camarillo, California" src="assets/images/article-slides/air7@2x.webp"
          style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
      </div>
      <!---->
    </div>
    <swiper
      class="article-slides-container__swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
      draggable="false">
      <!---->
      <!---->
      <!---->
      <div class="swiper-wrapper">
        <!---->
        <!---->
        <div data-swiper-slide-index="0" class="swiper-slide swiper-slide-active" style="width: 797px;">
          <!---->
          <div class="article-slides-container__slide article-slides-container__slide--active">
            <div class="article-slides-container__slide__text">
              <!---->
              <h3 class="article-slides-container__h3">The Goodwood estate</h3>
              <!---->
              <p class="article-slides-container__p">Goodwood is where we call home. Based in
                Chichester, UK (approx. an hour from either London or Heathrow)</p>
              <!---->
              <app-link _nghost-jtn-c37="">
                <!----><a _ngcontent-jtn-c37="" class="link link--external link--black"
                  href="https://www.goodwood.com"><span _ngcontent-jtn-c37="" class="link__text">Visit
                    goodwood.com</span><span _ngcontent-jtn-c37="" class="link__icon"></span></a>
                <!---->
              </app-link>
              <!---->
              <app-button _nghost-jtn-c39="">
                <!---->
                <div _ngcontent-jtn-c39="" class="button button--undefined">
                  <div _ngcontent-jtn-c39="" class="button__text">Request your experience</div>
                  <div _ngcontent-jtn-c39="" class="button__text button__text--sizer">Request your
                    experience</div>
                  <div _ngcontent-jtn-c39="" class="button__text button__text--hover">Request your
                    experience</div>
                </div>
                <!---->
                <!---->
              </app-button>
              <!---->
              <!---->
            </div>
          </div>
          <!---->
          <!---->
          <!---->
        </div>
        <div data-swiper-slide-index="1" class="swiper-slide swiper-slide-next" style="width: 797px;">
          <!---->
          <div class="article-slides-container__slide">
            <div class="article-slides-container__slide__text">
              <!---->
              <h3 class="article-slides-container__h3">AIR7 Camarillo, California</h3>
              <!---->
              <p class="article-slides-container__p">Our L.A. flight experience base. Powered by
                aviation experts Air7 is an awe inspiring venue to take on Gravity.</p>
              <!---->
              <app-link _nghost-jtn-c37="">
                <!----><a _ngcontent-jtn-c37="" class="link link--external link--black" href="https://flyair7.com"><span
                    _ngcontent-jtn-c37="" class="link__text">Visit
                    flyair7.com</span><span _ngcontent-jtn-c37="" class="link__icon"></span></a>
                <!---->
              </app-link>
              <!---->
              <app-button _nghost-jtn-c39="">
                <!---->
                <div _ngcontent-jtn-c39="" class="button button--undefined">
                  <div _ngcontent-jtn-c39="" class="button__text">Request your experience</div>
                  <div _ngcontent-jtn-c39="" class="button__text button__text--sizer">Request your
                    experience</div>
                  <div _ngcontent-jtn-c39="" class="button__text button__text--hover">Request your
                    experience</div>
                </div>
                <!---->
                <!---->
              </app-button>
              <!---->
              <!---->
            </div>
          </div>
          <!---->
          <!---->
          <!---->
        </div>
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
      <!---->
    </swiper>
    <div class="article-slides-container__control article-slides-container__control--prev"></div>
    <div class="article-slides-container__control article-slides-container__control--next"></div>
  </div>
</div>
