<p>promotion-banner works!</p>
<div class="promotion-banner">
  <div class="container promotion-banner__container">
    <div class="promotion-banner__content"><img src="assets/images/promotions/taking-on-gravity-book-small@2x.webp"
        appimagewithfallback="assets/images/promotions/taking-on-gravity-book-small@2x.png"
        class="promotion-banner__image">
      <div class="promotion-banner__links">
        <div class="promotion-banner__text"> Taking on Technology – Out now! </div><a
          href="https://www.shop.gravity.co/accessories/8c70f5p1cvbqmzi6dko51wdp9sq47y" target="_blank"
          class="promotion-banner__link"> Order exclusive<br> signed copy <div
            class="arrow-cta promotion-banner__arrow-cta">
            <div class="arrow arrow--turquoise arrow-cta__arrow promotion-banner__arrow"></div>
            <div class="arrow arrow--turquoise arrow-cta__arrow promotion-banner__arrow"></div>
          </div></a><a href="http://hyperurl.co/TakingOnGravity" target="_blank"
          class="promotion-banner__link promotion-banner__link--orange"> Order on<br> Amazon <div
            class="arrow-cta promotion-banner__arrow-cta">
            <div class="arrow arrow--orange arrow-cta__arrow promotion-banner__arrow"></div>
            <div class="arrow arrow--orange arrow-cta__arrow promotion-banner__arrow"></div>
          </div></a>
      </div>
    </div>
  </div>
</div>