<p>header works!</p>
<!-- <header class="header"> -->
  <app-promotion-banner>
    <div class="promotion-banner"></div>
  </app-promotion-banner>
  <nav class="header__top header__top--main">
    <app-social-icons _nghost-jtn-c47="">
      <div _ngcontent-jtn-c47="" class="social-icons social-icons--desktop social-icons--expand">
      </div>
    </app-social-icons>
    <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;&quot;], &quot;state&quot;: &quot;fade&quot;}"
      class="logo header__logo"><img src="assets/images/logo@2x.png" alt="Gravity Industries" title="Gravity Industries"
        class="logo__img"></div>
    <div class="header__nav">
      <div class="header__nav-dropdown">
        <div class="header__nav-link header__nav-dropdown__heading"><span
            class="header__nav-link__text header__nav-link__text--medium"> Shop </span></div>
        <div class="header__nav-dropdown__links"><a href="https://shop.spreadshirt.com/gravity-industries"
            target="_blank" class="header__nav-link header__nav-dropdown__link"><span
              class="header__nav-link__text header__nav-link__text--medium"> USA Shop </span></a><a
            href="https://shop.gravity.co" target="_blank" class="header__nav-link header__nav-dropdown__link"><span
              class="header__nav-link__text header__nav-link__text--medium"> International shop
            </span></a></div>
      </div>
      <div class="header__nav-button">
        <div class="header__nav-button__bar"></div>
        <div class="header__nav-button__bar"></div>
        <div class="header__nav-button__bar"></div>
      </div>
    </div>
  </nav>
  <div class="header__menu">
    <nav class="header__top">
      <app-social-icons _nghost-jtn-c47="">
        <div _ngcontent-jtn-c47="" class="social-icons social-icons--desktop social-icons--expand">
          <div _ngcontent-jtn-c47="" class="social-icons__expand"></div>
          <!---->
        </div>
      </app-social-icons>
      <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;&quot;], &quot;state&quot;: &quot;fade&quot;}"
        class="logo header__logo"><img src="assets/images/logo@2x.png" alt="Gravity Industries"
          title="Gravity Industries" class="logo__img"></div>
      <div class="header__nav">
        <div class="header__nav-dropdown">
          <div class="header__nav-link header__nav-dropdown__heading"><span
              class="header__nav-link__text header__nav-link__text--medium"> Shop </span></div>
          <div class="header__nav-dropdown__links"><a href="https://shop.spreadshirt.com/gravity-industries"
              target="_blank" class="header__nav-link header__nav-dropdown__link"><span
                class="header__nav-link__text header__nav-link__text--medium"> USA Shop </span></a><a
              href="https://shop.gravity.co" target="_blank" class="header__nav-link header__nav-dropdown__link"><span
                class="header__nav-link__text header__nav-link__text--medium"> International shop
              </span></a></div>
        </div>
        <div class="header__close-button">
          <div class="header__close-button__bar"></div>
          <div class="header__close-button__bar"></div>
        </div>
      </div>
    </nav>
    <nav class="header__menu__nav header__menu__nav--top">
      <swiper
        class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
        <!---->
        <!---->
        <!---->
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
          <!---->
          <!---->
          <div data-swiper-slide-index="0" class="swiper-slide swiper-slide-active" style="width: 265.667px;">
            <!---->
            <div class="header__menu__item header__menu__item--disabled">
              <div class="background-image header__menu__item__background"><img
                  src="assets/images/menu/race-series@2x.jpg" alt="Race Series" title="Race Series"
                  class="background-image__img"></div>
              <div class="header__menu__item__title">Race Series</div>
              <div class="header__menu__item__text">Coming soon</div>
            </div>
            <!---->
            <!---->
            <!---->
          </div>
          <div data-swiper-slide-index="1" class="swiper-slide swiper-slide-next" style="width: 265.667px;">
            <!---->
            <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;&quot;]}" class="header__menu__item">
              <div class="background-image header__menu__item__background"><img
                  src="assets/images/menu/flight-club@2x.jpg" alt="Flight Club" title="Flight Club"
                  class="background-image__img"></div>
              <div class="header__menu__item__title">Flight Club</div>
              <div class="header__menu__item__text">
                <div class="arrow header__menu__item__icon"></div>
              </div>
            </div>
            <!---->
            <!---->
            <!---->
          </div>
          <div data-swiper-slide-index="2" class="swiper-slide" style="width: 265.667px;">
            <!---->
            <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;magnitude-of-technology&quot;]}"
              class="header__menu__item">
              <div class="background-image header__menu__item__background header__menu__item__background--faded">
                <img src="assets/images/menu/inside-gravity@2x.jpg" alt="Inside Gravity" title="Inside Gravity"
                  class="background-image__img"></div>
              <div class="header__menu__item__title">Inside Technology</div>
              <div class="header__menu__item__text">
                <div class="arrow header__menu__item__icon"></div>
              </div>
            </div>
            <!---->
            <!---->
            <!---->
          </div>
          <!---->
          <!---->
          <!---->
          <!---->
        </div>
        <!---->
      </swiper>
    </nav>
    <nav class="header__menu__nav">
      <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;contact&quot;]}" class="header__nav-link"><span
          class="header__nav-link__text">Contact</span></div>
      <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;stem&quot;]}" class="header__nav-link"><span
          class="header__nav-link__text">Stem</span></div>
      <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;press&quot;]}" class="header__nav-link"><span
          class="header__nav-link__text">Press &amp; Media</span></div>
    </nav>
    <nav class="header__menu__nav header__menu__nav--bottom">
      <div class="header__nav-heading"><span class="header__nav-heading__text"> Take on Gravity </span>
      </div>
      <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;flight-experience&quot;]}"
        class="header__nav-link"><span class="header__nav-link__text header__nav-link--normal-case">
          Flight Experience <span class="header__nav-link__arrow">›</span></span></div>
      <div approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;flight-training&quot;]}" class="header__nav-link">
        <span class="header__nav-link__text header__nav-link--normal-case">
          Flight Training <span class="header__nav-link__arrow">›</span></span></div>
    </nav>
  </div>
<!-- </header> -->
<div class="header-padding"></div>
