<p>text-markers works!</p>
<div _ngcontent-jtn-c41="" appparallax="" class="background-image text-markers-container__background-image"
  style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
  <img _ngcontent-jtn-c41="" src="assets/images/text-markers/jet-suit-mobile@2x.jpg" alt="Jet Suit background image"
    class="background-image__img background-image__img--mobile"><img _ngcontent-jtn-c41=""
    src="../../../assets/images/text-markers/jet-suit@2x.jpg  assets/images/text-markers/jet-suit@2x.jpg" alt="Jet Suit background image"
    class="background-image__img background-image__img--desktop">
</div>
<div _ngcontent-jtn-c41="" class="container text-markers-container__container">
  <div _ngcontent-jtn-c41="" class="text-area text-markers-container__text">
    <h2 _ngcontent-jtn-c41="" class="text-markers-container__h2">Custom Jet Suits</h2>
    <p _ngcontent-jtn-c41="" class="text-markers-container__p">Make the dream a reality by
      commissioning your very own custom made Gravity Industries Jet Suit.</p>
    <div _ngcontent-jtn-c41=""
      approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;contact&quot;], &quot;state&quot;: &quot;ltr&quot;}"
      class="button button--turquoise text-markers-container__text__button">
      <div _ngcontent-jtn-c41="" class="button__text">Commission a Jet Suit</div>
      <div _ngcontent-jtn-c41="" class="button__text button__text--sizer">Commission a Jet Suit
      </div>
      <div _ngcontent-jtn-c41="" class="button__text button__text--hover">Commission a Jet Suit
      </div>
    </div>
  </div>
  <div _ngcontent-jtn-c41="" class="text-markers-container__caption-box text-markers-container__caption-box--active">
    <img _ngcontent-jtn-c41="" class="text-markers-container__caption-box__img"
      src="../../../assets/images/text-markers/power@2x.jpg" alt="Power,1050bhp" title="Power,1050bhp">
    <!---->
    <div _ngcontent-jtn-c41="" class="text-markers-container__caption-box__text">
      <div _ngcontent-jtn-c41="" class="text-markers-container__caption-box__name">Power
        1050bhp</div>

      <div _ngcontent-jtn-c41="" class="text-markers-container__arrows">
        <div _ngcontent-jtn-c41=""
          class="arrow-cta arrow-cta--left text-markers-container__arrow-cta text-markers-container__arrow-cta--left">
          <div _ngcontent-jtn-c41="" class="arrow arrow-cta__arrow text-markers-container__arrow">
          </div>
          <div _ngcontent-jtn-c41="" class="arrow arrow-cta__arrow text-markers-container__arrow">
          </div>
        </div>
        <div _ngcontent-jtn-c41="" class="arrow-cta text-markers-container__arrow-cta">
          <div _ngcontent-jtn-c41="" class="arrow arrow-cta__arrow text-markers-container__arrow">
          </div>
          <div _ngcontent-jtn-c41="" class="arrow arrow-cta__arrow text-markers-container__arrow">
          </div>
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
<div _ngcontent-jtn-c41="" class="text-markers-container__markers"><img _ngcontent-jtn-c41=""
    src="assets/images/text-markers/mk2.2@2x.webp" appimagewithfallback="assets/images/text-markers/mk2.2@2x.png"
    alt="Jet Suit MK2.2" title="Jet Suit MK2.2" class="text-markers-container__markers__subject">
  <div _ngcontent-jtn-c41="" class="text-markers-container__marker text-markers-container__marker--active"
    style="left: 48%; bottom: 27%; width: 52%; height: 73%;">
    <div _ngcontent-jtn-c41="" class="text-markers-container__marker__point"><svg _ngcontent-jtn-c41=""
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        class="point-line text-markers-container__marker__point__circle" viewBox="0 0 54 54">
        <circle _ngcontent-jtn-c41="" r="25" cx="27" cy="27"></circle>
      </svg></div><svg _ngcontent-jtn-c41="" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      class="point-line text-markers-container__marker__line" viewBox="0 0 520 730">
      <path _ngcontent-jtn-c41="" d="M 0 730 L 520 730 L 520 0"></path>
    </svg>
  </div>
  <div _ngcontent-jtn-c41="" class="text-markers-container__marker"
    style="left: 89%; bottom: 39%; width: 11%; height: 61%;">
    <div _ngcontent-jtn-c41="" class="text-markers-container__marker__point"><svg _ngcontent-jtn-c41=""
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        class="point-line text-markers-container__marker__point__circle" viewBox="0 0 54 54">
        <circle _ngcontent-jtn-c41="" r="25" cx="27" cy="27"></circle>
      </svg></div><svg _ngcontent-jtn-c41="" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      class="point-line text-markers-container__marker__line" viewBox="0 0 110 610">
      <path _ngcontent-jtn-c41="" d="M 0 610 L 110 610 L 110 0"></path>
    </svg>
  </div>
  <div _ngcontent-jtn-c41="" class="text-markers-container__marker"
    style="left: 79%; bottom: 29%; width: 21%; height: 71%;">
    <div _ngcontent-jtn-c41="" class="text-markers-container__marker__point"><svg _ngcontent-jtn-c41=""
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        class="point-line text-markers-container__marker__point__circle" viewBox="0 0 54 54">
        <circle _ngcontent-jtn-c41="" r="25" cx="27" cy="27"></circle>
      </svg></div><svg _ngcontent-jtn-c41="" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      class="point-line text-markers-container__marker__line" viewBox="0 0 210 710">
      <path _ngcontent-jtn-c41="" d="M 0 710 L 210 710 L 210 0"></path>
    </svg>
  </div>
  <div _ngcontent-jtn-c41="" class="text-markers-container__marker"
    style="left: 20%; bottom: 57%; width: 80%; height: 43%;">
    <div _ngcontent-jtn-c41="" class="text-markers-container__marker__point"><svg _ngcontent-jtn-c41=""
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        class="point-line text-markers-container__marker__point__circle" viewBox="0 0 54 54">
        <circle _ngcontent-jtn-c41="" r="25" cx="27" cy="27"></circle>
      </svg></div><svg _ngcontent-jtn-c41="" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      class="point-line text-markers-container__marker__line" viewBox="0 0 800 430">
      <path _ngcontent-jtn-c41="" d="M 0 430 L 800 430 L 800 0"></path>
    </svg>
  </div>
  <div _ngcontent-jtn-c41="" class="text-markers-container__marker"
    style="left: 36%; bottom: 53%; width: 64%; height: 47%;">
    <div _ngcontent-jtn-c41="" class="text-markers-container__marker__point"><svg _ngcontent-jtn-c41=""
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        class="point-line text-markers-container__marker__point__circle" viewBox="0 0 54 54">
        <circle _ngcontent-jtn-c41="" r="25" cx="27" cy="27"></circle>
      </svg></div><svg _ngcontent-jtn-c41="" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      class="point-line text-markers-container__marker__line" viewBox="0 0 640 470">
      <path _ngcontent-jtn-c41="" d="M 0 470 L 640 470 L 640 0"></path>
    </svg>
  </div>
  <div _ngcontent-jtn-c41="" class="text-markers-container__marker text-markers-container__marker--flip"
    style="left: 54%; bottom: 92%; width: 46%; height: 8%;">
    <div _ngcontent-jtn-c41="" class="text-markers-container__marker__point"><svg _ngcontent-jtn-c41=""
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        class="point-line text-markers-container__marker__point__circle" viewBox="0 0 54 54">
        <circle _ngcontent-jtn-c41="" r="25" cx="27" cy="27"></circle>
      </svg></div><svg _ngcontent-jtn-c41="" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      class="point-line text-markers-container__marker__line" viewBox="0 0 460 80">
      <path _ngcontent-jtn-c41="" d="M 0 80 L 460 80 L 460 0"></path>
    </svg>
  </div>
  <div _ngcontent-jtn-c41="" class="text-markers-container__marker"
    style="left: 58%; bottom: 58%; width: 42%; height: 42%;">
    <div _ngcontent-jtn-c41="" class="text-markers-container__marker__point"><svg _ngcontent-jtn-c41=""
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        class="point-line text-markers-container__marker__point__circle" viewBox="0 0 54 54">
        <circle _ngcontent-jtn-c41="" r="25" cx="27" cy="27"></circle>
      </svg></div><svg _ngcontent-jtn-c41="" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      class="point-line text-markers-container__marker__line" viewBox="0 0 420 420">
      <path _ngcontent-jtn-c41="" d="M 0 420 L 420 420 L 420 0"></path>
    </svg>
  </div>
  <div _ngcontent-jtn-c41="" class="text-markers-container__marker"
    style="left: 63%; bottom: 41%; width: 37%; height: 59%;">
    <div _ngcontent-jtn-c41="" class="text-markers-container__marker__point"><svg _ngcontent-jtn-c41=""
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        class="point-line text-markers-container__marker__point__circle" viewBox="0 0 54 54">
        <circle _ngcontent-jtn-c41="" r="25" cx="27" cy="27"></circle>
      </svg></div><svg _ngcontent-jtn-c41="" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      class="point-line text-markers-container__marker__line" viewBox="0 0 370 590">
      <path _ngcontent-jtn-c41="" d="M 0 590 L 370 590 L 370 0"></path>
    </svg>
  </div>
  <!---->
</div>
<div _ngcontent-jtn-c41="" class="text-markers-container__buttons">
  <div _ngcontent-jtn-c41=""
    approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;contact&quot;], &quot;state&quot;: &quot;ltr&quot;}"
    class="button button--turquoise text-markers-container__button">
    <div _ngcontent-jtn-c41="" class="button__text">Own a Jet Suit</div>
    <div _ngcontent-jtn-c41="" class="button__text button__text--sizer">Own a Jet Suit</div>
    <div _ngcontent-jtn-c41="" class="button__text button__text--hover">Own a Jet Suit</div>
  </div>
</div>
