<p>page-home-page works!</p>
<div _ngcontent-jtn-c45=""
  class="background-image page-background-container page-background-container--home page-background-container--padding-bottom">
  <img _ngcontent-jtn-c45="" src="../../../assets/images/backgrounds/home-mobile@2x.webp"
    appimagewithfallback="../../../assets/images/backgrounds/home-mobile@2x.jpg" appparallax=""
    class="background-image__img background-image__img--mobile page-background-container__img"
    style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);"><img
    _ngcontent-jtn-c45="" src="../../../assets/images/backgrounds/home@2x.webp"
    appimagewithfallback="../../../assets/images/backgrounds/home@2x.jpg" appparallax=""
    class="background-image__img background-image__img--desktop page-background-container__img"
    style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0); --translateX:0%; --translateY:-8.207%;">
  <div _ngcontent-jtn-c45="" class="section hero-container">
    <div _ngcontent-jtn-c45="" appparallax="" class="hero-container__suit"
      style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0); --translateX:0%; --translateY:0%;">
      <img _ngcontent-jtn-c45="" src="../../../assets/images/jet-suit-in-flight@2x.webp"
        appimagewithfallback="assets/images/jet-suit-in-flight@2x.png" alt="Gravity suit" title="Gravity suit"
        class="hero-container__suit__img"></div>
    <div _ngcontent-jtn-c45="" appparallax="" class="hero-container__suit hero-container__suit--jets"
      style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0); --translateX:0%; --translateY:0%;">
      <div _ngcontent-jtn-c45="" class="hero-container__suit__jet"><img _ngcontent-jtn-c45=""
          src="../../../assets/images/flame1.webp" appimagewithfallback="../../../assets/images/flame1.gif" alt="Jet"
          class="hero-container__suit__img"></div>
      <div _ngcontent-jtn-c45="" class="hero-container__suit__jet"><img _ngcontent-jtn-c45=""
          src="../../../assets/images/flame2.webp" appimagewithfallback="../../../assets/images/flame2.gif" alt="Jet"
          class="hero-container__suit__img"></div>
      <div _ngcontent-jtn-c45="" class="hero-container__suit__jet"><img _ngcontent-jtn-c45=""
          src="../../../assets/images/flame3.webp" appimagewithfallback="../../../assets/images/flame3.gif" alt="Jet"
          class="hero-container__suit__img"></div>
    </div>
    <div _ngcontent-jtn-c45="" appparallax="" class="hero-container__heading"
      style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0); --translateX:0%; --translateY:0%;">
      <h1 _ngcontent-jtn-c45="" class="hero-container__h1">Flight club</h1>
    </div>
    <div _ngcontent-jtn-c45=""
      class="page-nav page-nav--left page-nav--disabled page-nav--disabled--left hero-container__page-nav">
      <div _ngcontent-jtn-c45="" class="page-nav__preview">
        <div _ngcontent-jtn-c45="" class="page-nav__preview-circle"><img _ngcontent-jtn-c45=""
            src="../../../assets/images/nav/race-series@2x.jpg" alt="Race series" title="Race series"
            class="page-nav__preview-circle__img"></div>
        <div _ngcontent-jtn-c45="" class="arrow page-nav__arrow"></div>
      </div>
      <div _ngcontent-jtn-c45="" class="page-nav__text">Race<br _ngcontent-jtn-c45="">series</div>
      <div _ngcontent-jtn-c45="" class="page-nav__sub-text">Coming soon</div>
    </div>
    <div _ngcontent-jtn-c45=""
      approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;magnitude-of-technology&quot;], &quot;state&quot;: &quot;ltr&quot;}"
      class="page-nav page-nav--right hero-container__page-nav hero-container__page-nav--right">
      <div _ngcontent-jtn-c45="" class="page-nav__preview">
        <div _ngcontent-jtn-c45="" class="arrow page-nav__arrow"></div>
        <div _ngcontent-jtn-c45="" class="page-nav__preview-circle"><img _ngcontent-jtn-c45=""
            src="../../../assets/images/nav/inside-gravity@2x.jpg" alt="Inside Gravity" title="Inside Gravity"
            class="page-nav__preview-circle__img page-nav__preview-circle__img--faded"></div>
      </div>
      <div _ngcontent-jtn-c45="" class="page-nav__text">Inside<br _ngcontent-jtn-c45="">Gravity</div>
    </div>
    <div _ngcontent-jtn-c45="" class="hero-container__scroll-indicator">
      <div _ngcontent-jtn-c45="" class="hero-container__scroll-indicator__text"> Join the Jet Suit
        pilots<br _ngcontent-jtn-c45="" class="hero-container__scroll-indicator__br"> making human
        flight a reality </div>
      <div _ngcontent-jtn-c45="" appngscrollto="#introduction"
        class="arrow-cta hero-container__scroll-indicator__arrow-cta">
        <div _ngcontent-jtn-c45="" class="arrow arrow-cta__arrow hero-container__scroll-indicator__arrow"></div>
        <div _ngcontent-jtn-c45="" class="arrow arrow-cta__arrow hero-container__scroll-indicator__arrow"></div>
      </div>
    </div>
  </div>
  <div _ngcontent-jtn-c45="" id="introduction" class="section heading-text-container">
    <div _ngcontent-jtn-c45="" class="container heading-text-container__container">
      <div _ngcontent-jtn-c45="" class="heading-text-container__heading">
        <h2 _ngcontent-jtn-c45="" class="heading-text-container__h2">Now anyone<br _ngcontent-jtn-c45="">can experience
          the thrill of human flight</h2>
      </div>
      <div _ngcontent-jtn-c45="" class="text-area heading-text-container__text">
        <blockquote _ngcontent-jtn-c45="" class="quote"><q _ngcontent-jtn-c45="" class="quote__q">To
            feel your feet lift off the ground, that ultimate freedom of true flight. This will be a day
            you remember for the rest of your life.</q><cite _ngcontent-jtn-c45="" class="quote__cite"><span
              _ngcontent-jtn-c45="" class="quote__cite__author">R.
              Browning</span><span _ngcontent-jtn-c45="" class="quote__cite__role">Founder &amp; Chief
              Test Pilot</span></cite></blockquote>
        <div _ngcontent-jtn-c45="" appngscrollto="#packages" class="button button--turquoise">
          <div _ngcontent-jtn-c45="" class="button__text">Explore our packages</div>
          <div _ngcontent-jtn-c45="" class="button__text button__text--sizer">Explore our packages</div>
          <div _ngcontent-jtn-c45="" class="button__text button__text--hover">Explore our packages</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-video-spot _ngcontent-jtn-c45="" _nghost-jtn-c33="">
  <!-- <div _ngcontent-jtn-c33="" class="section video-spot-container video-spot-container--home"> -->
    <!-- <div _ngcontent-jtn-c33="" appvideoonscrollcrop="" class="video-spot-container__video-container"
      style="will-change: clip-path; clip-path: polygon(var(--cropWidth) 0, var(--cropWidth) 100%, calc(100% - var(--cropWidth)) 100%, calc(100% - var(--cropWidth)) 0);">
      <div _ngcontent-jtn-c33="" class="video-spot-container__play"></div><video id="scrollVideovideo" autoplay=""
        loop="" muted="" playsinline="" class="video-spot-container__video video-spot-container__video--desktop"
        preload="metadata">
        <source src="https://gravity.co/media/video-desktop-c.webm" type="video/webm">
        <source src="https://gravity.co/media/video-desktop-c.mp4" type="video/mp4"></video>
    </div> -->
    <!---->
    <!---->
    <!-- <div _ngcontent-jtn-c33="" class="container video-spot-container__container">
      <div _ngcontent-jtn-c33="" class="video-spot-container__text">
        <h2 _ngcontent-jtn-c33="" class="video-spot-container__h2">Want to take on Gravity?</h2>
        <p _ngcontent-jtn-c33="" class="video-spot-container__p">Fast-track your way to experiencing
          flying in a Jet Suit with Flight Experience or earn your wings with Flight Training.</p>
      </div>
    </div> -->
    <!---->
  <!-- </div> -->
</app-video-spot>
<app-cta-reveal _ngcontent-jtn-c45="" id="packages">
  <!-- <div class="section cta-reveal-container"> -->
    <!-- <div class="background-image cta-reveal-container__background-image cta-reveal-container__background-image--active">
      <img src="../../../assets/images/cta-reveal/experience-flight@2x.webp"
        appimagewithfallback="../../../assets/images/cta-reveal/experience-flight@2x.jpg" alt="Flight experience"
        title="Flight experience" appparallax="" class="background-image__img"
        style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
    </div>
    <div class="background-image cta-reveal-container__background-image"><img
        src="../../../assets/images/cta-reveal/experience-training@2x.webp"
        appimagewithfallback="../../../assets/images/cta-reveal/experience-training@2x.jpg" alt="Flight training"
        title="Flight training" appparallax="" class="background-image__img"
        style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
    </div>
    <div class="container cta-reveal-container__container">
      <swiper
        class="cta-reveal-container__swiper-container swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events cta-reveal-container__swiper-container--rendered"> -->
        <!---->
        <!---->
        <!---->
        <!-- <div class="swiper-wrapper"> -->
          <!---->
          <!---->
          <!-- <div data-swiper-slide-index="0" class="swiper-slide swiper-slide-active" style="width: 367.5px;"> -->
            <!---->
            <!-- <div class="text-area cta-reveal-container__cta cta-reveal-container__cta--active">
              <h3 class="cta-reveal-container__cta__h3">Flight<br>experience</h3>
              <p class="cta-reveal-container__cta__p">An incredible introduction to Jet Suit flight.
                Take part in a group session with three Jet Suit flights and a lab tour.</p>
              <div
                approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;flight-experience&quot;], &quot;state&quot;: &quot;fade&quot;}"
                class="button button--turquoise cta-reveal-container__cta__button">
                <div class="button__text">Take it on</div>
                <div class="button__text button__text--sizer">Take it on</div>
                <div class="button__text button__text--hover">Take it on</div>
              </div>
            </div> -->
            <!---->
            <!---->
            <!---->
          <!-- </div>
          <div data-swiper-slide-index="1" class="swiper-slide swiper-slide-next" style="width: 367.5px;"> -->
            <!---->
            <!-- <div class="text-area cta-reveal-container__cta">
              <h3 class="cta-reveal-container__cta__h3">Flight<br>training</h3>
              <p class="cta-reveal-container__cta__p">Individualised flight training programs offer the
                chance to enrol as members of an exclusive community of Jet Suit Pilots.</p>
              <div
                approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;flight-training&quot;], &quot;state&quot;: &quot;fade&quot;}"
                class="button button--turquoise cta-reveal-container__cta__button">
                <div class="button__text">Take it on</div>
                <div class="button__text button__text--sizer">Take it on</div>
                <div class="button__text button__text--hover">Take it on</div>
              </div>
            </div> -->
            <!---->
            <!---->
            <!---->
          <!-- </div> -->
          <!---->
          <!---->
          <!---->
          <!---->
        <!-- </div> -->
        <!---->
      <!-- </swiper>
      <div class="cta-reveal-container__control cta-reveal-container__control--prev"></div>
      <div class="cta-reveal-container__control cta-reveal-container__control--next"></div>
    </div> -->
  <!-- </div> -->
</app-cta-reveal>
<app-article-slides _ngcontent-jtn-c45="">
  <!-- <div class="section article-slides-container article-slides-container--undefined article-slides-container--bottom">

  </div> -->
</app-article-slides>
<app-text-markers _ngcontent-jtn-c45="" _nghost-jtn-c41="">
  <!-- <div _ngcontent-jtn-c41="" class="section text-markers-container">

  </div> -->
</app-text-markers>
<app-cta-preview _ngcontent-jtn-c45="" _nghost-jtn-c42="">
  <!-- <div _ngcontent-jtn-c42="" class="section cta-preview-container"> -->

    <!---->
    <!---->
    <!---->
  <!-- </div> -->
</app-cta-preview>
<app-cta-block _ngcontent-jtn-c45="" _nghost-jtn-c43="">
  <!-- <div _ngcontent-jtn-c43="" class="section cta-block-container"> -->

    <!---->
  <!-- </div> -->
</app-cta-block>
<app-images _ngcontent-jtn-c45="" _nghost-jtn-c44="">
  <!-- <div _ngcontent-jtn-c44="" class="section images-container"> -->

  <!-- </div> -->
</app-images>

<button type="button" (click)="goBack()">go back</button>
