<p>cta-reveal works!</p>
<div class="section cta-reveal-container">
<div class="background-image cta-reveal-container__background-image cta-reveal-container__background-image--active">
  <img src="assets/images/cta-reveal/experience-flight@2x.webp"
    appimagewithfallback="assets/images/cta-reveal/experience-flight@2x.jpg" alt="Flight experience"
    title="Flight experience" appparallax="" class="background-image__img"
    style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
</div>
<div class="background-image cta-reveal-container__background-image"><img
    src="assets/images/cta-reveal/experience-training@2x.webp"
    appimagewithfallback="assets/images/cta-reveal/experience-training@2x.jpg" alt="Flight training"
    title="Flight training" appparallax="" class="background-image__img"
    style="will-change: transform; transform: translate3d(var(--translateX), var(--translateY), 0);">
</div>
<div class="container cta-reveal-container__container">
  <swiper
    class="cta-reveal-container__swiper-container swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events cta-reveal-container__swiper-container--rendered">
    <!---->
    <!---->
    <!---->
    <div class="swiper-wrapper">
      <!---->
      <!---->
      <div data-swiper-slide-index="0" class="swiper-slide swiper-slide-active" style="width: 367.5px;">
        <!---->
        <div class="text-area cta-reveal-container__cta cta-reveal-container__cta--active">
          <h3 class="cta-reveal-container__cta__h3">Flight<br>experience</h3>
          <p class="cta-reveal-container__cta__p">An incredible introduction to Jet Suit flight.
            Take part in a group session with three Jet Suit flights and a lab tour.</p>
          <div
            approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;flight-experience&quot;], &quot;state&quot;: &quot;fade&quot;}"
            class="button button--turquoise cta-reveal-container__cta__button">
            <div class="button__text">Take it on</div>
            <div class="button__text button__text--sizer">Take it on</div>
            <div class="button__text button__text--hover">Take it on</div>
          </div>
        </div>
        <!---->
        <!---->
        <!---->
      </div>
      <div data-swiper-slide-index="1" class="swiper-slide swiper-slide-next" style="width: 367.5px;">
        <!---->
        <div class="text-area cta-reveal-container__cta">
          <h3 class="cta-reveal-container__cta__h3">Flight<br>training</h3>
          <p class="cta-reveal-container__cta__p">Individualised flight training programs offer the
            chance to enrol as members of an exclusive community of Jet Suit Pilots.</p>
          <div
            approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;flight-training&quot;], &quot;state&quot;: &quot;fade&quot;}"
            class="button button--turquoise cta-reveal-container__cta__button">
            <div class="button__text">Take it on</div>
            <div class="button__text button__text--sizer">Take it on</div>
            <div class="button__text button__text--hover">Take it on</div>
          </div>
        </div>
        <!---->
        <!---->
        <!---->
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
    </div>
    <!---->
  </swiper>
  <div class="cta-reveal-container__control cta-reveal-container__control--prev"></div>
  <div class="cta-reveal-container__control cta-reveal-container__control--next"></div>
</div>
</div>
