<p>cta-preview works!</p>
<div _ngcontent-jtn-c42="" class="section cta-preview-container">
  <div _ngcontent-jtn-c42=""
    class="cta-preview-container__cta cta-preview-container__cta--left cta-preview-container__cta--disabled cta-preview-container__cta--disabled--left">
    <div _ngcontent-jtn-c42="" class="cta-preview-container__text">
      <h3 _ngcontent-jtn-c42="" class="cta-preview-container__h3">Race<br _ngcontent-jtn-c42="">Series
      </h3>
      <p _ngcontent-jtn-c42="" class="cta-preview-container__p">Coming soon</p>
    </div>
    <div _ngcontent-jtn-c42="" class="background-image cta-preview-container__background-image"><img
        _ngcontent-jtn-c42="" src="../../../assets/images/cta-preview/race-series@2x.jpg" alt="Race series"
        class="background-image__img cta-preview-container__background-image__img"></div>
    <div _ngcontent-jtn-c42=""
      class="page-nav page-nav--left page-nav--disabled page-nav--disabled--left cta-preview-container__page-nav">
      <div _ngcontent-jtn-c42="" class="page-nav__preview">
        <div _ngcontent-jtn-c42="" class="page-nav__preview-circle"></div>
        <div _ngcontent-jtn-c42="" class="arrow page-nav__arrow"></div>
      </div>
    </div>
  </div>
  <div _ngcontent-jtn-c42=""
    approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;magnitude-of-technology&quot;], &quot;state&quot;: &quot;ltr&quot;}"
    class="cta-preview-container__cta cta-preview-container__cta--right">
    <div _ngcontent-jtn-c42="" class="cta-preview-container__text">
      <h3 _ngcontent-jtn-c42="" class="cta-preview-container__h3">Inside<br
          _ngcontent-jtn-c42="">Technology</h3>
      <p _ngcontent-jtn-c42="" class="cta-preview-container__p cta-preview-container__p--desktop">
        Discover our story, events, technology and more</p>
    </div>
    <div _ngcontent-jtn-c42="" class="background-image cta-preview-container__background-image"><img
        _ngcontent-jtn-c42="" src="../../../assets/images/cta-preview/inside-gravity@2x.jpg"
        alt="Inside Gravity"
        class="background-image__img cta-preview-container__background-image__img"></div>
    <div _ngcontent-jtn-c42="" class="page-nav page-nav--right cta-preview-container__page-nav">
      <div _ngcontent-jtn-c42="" class="page-nav__preview">
        <div _ngcontent-jtn-c42="" class="arrow page-nav__arrow"></div>
        <div _ngcontent-jtn-c42="" class="page-nav__preview-circle"></div>
      </div>
    </div>
  </div>
  <!---->
  <!---->
  <!---->
</div>