<p>images works!</p>
<div _ngcontent-jtn-c44="" class="section images-container">
  <div _ngcontent-jtn-c44="" class="container images-container__container">
    <h2 _ngcontent-jtn-c44="" class="images-container__h2">Our sponsors</h2>
    <div _ngcontent-jtn-c44="" class="images-container__images"><a _ngcontent-jtn-c44=""
        href="https://www.grenade.com/" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/lo assets/images/logos/grenade@2x.png" alt="Grenade" title="Grenade"
          class="images-container__img"></a><a _ngcontent-jtn-c44="" href="https://www.3t-am.com/"
        target="_blank" class="images-container__image"><img _ngcontent-jtn-c44=""
          src="assets/images/logos/3t-additive-manufacturing@2x.png" alt="3T additive manufacturing"
          title="3T additive manufacturing" class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://armadillomerino.com/" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/armadillo@2x.png" alt="Armadillo Merino"
          title="Armadillo Merino" class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://www.caberg.it/en/" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/caberg@2x.png" alt="Caberg Helmets"
          title="Caberg Helmets" class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://www.eos.info/en" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/eos@2x.png" alt="EOS" title="EOS"
          class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://www.jetcat.de/en/products/" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/jetcat@2x.png" alt="Jetcat" title="Jetcat"
          class="images-container__img"></a><a _ngcontent-jtn-c44="" href="https://www.aslgrp.com/"
        target="_blank" class="images-container__image"><img _ngcontent-jtn-c44=""
          src="assets/images/logos/air-sea-land-group@2x.png" alt="Air Sea Land Group"
          title="Air Sea Land Group" class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://www.lemo.com/en" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/lemo@2x.png" alt="Lemo" title="Lemo"
          class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://uk.rs-online.com/web/" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/rs@2x.png" alt="RS components"
          title="RS components" class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://www.ups.com/gb/en/Home.page" target="_blank"
        class="images-container__image"><img _ngcontent-jtn-c44=""
          src="assets/images/logos/ups@2x.png" alt="UPS" title="UPS"
          class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://www.solidworks.com/" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/solidworks@2x.png" alt="Solid Works"
          title="Solid Works" class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://forrestbrown.co.uk/" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/forrest-brown@2x.png" alt="Forrest Brown"
          title="Forrest Brown" class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://rapidfab.ricoh-europe.com/" target="_blank" class="images-container__image"><img
          _ngcontent-jtn-c44="" src="assets/images/logos/ricoh@2x.png" alt="Ricoh" title="Ricoh"
          class="images-container__img"></a><a _ngcontent-jtn-c44=""
        href="https://deluxematerials.co.uk/collections/r-c-modelling/products/power-model-jet-oil-lu02?_pos=2&amp;_sid=17c60afa3&amp;_ss=r"
        target="_blank" class="images-container__image"><img _ngcontent-jtn-c44=""
          src="assets/images/logos/power-model-jet-oil@2x.png" alt="Power Model Jet Oil"
          title="Power Model Jet Oil" class="images-container__img"></a></div>
    <p _ngcontent-jtn-c44="" class="images-container__p"> Want to be part of our journey? <span
        _ngcontent-jtn-c44=""
        approuterlinkwithstate="{&quot;routerParams&quot;: [&quot;contact&quot;], &quot;state&quot;: &quot;fade&quot;}"
        class="link link--turquoise">Get in touch</span></p>
  </div>
</div>