<p>video-spot works!</p>
<div _ngcontent-jtn-c33="" class="section video-spot-container video-spot-container--home">
  <div _ngcontent-jtn-c33="" appvideoonscrollcrop="" class="video-spot-container__video-container"
    style="will-change: clip-path; clip-path: polygon(var(--cropWidth) 0, var(--cropWidth) 100%, calc(100% - var(--cropWidth)) 100%, calc(100% - var(--cropWidth)) 0);">
    <div _ngcontent-jtn-c33="" class="video-spot-container__play"></div><video id="scrollVideovideo"
      autoplay="" loop="" muted="" playsinline=""
      class="video-spot-container__video video-spot-container__video--desktop" preload="metadata">
      <source src="https://gravity.co/media/video-desktop-c.webm" type="video/webm">
      <source src="https://gravity.co/media/video-desktop-c.mp4" type="video/mp4"></video>
  </div>
  <!---->
  <!---->
  <div _ngcontent-jtn-c33="" class="container video-spot-container__container">
    <div _ngcontent-jtn-c33="" class="video-spot-container__text">
      <h2 _ngcontent-jtn-c33="" class="video-spot-container__h2">Want to take on Gravity?</h2>
      <p _ngcontent-jtn-c33="" class="video-spot-container__p">Fast-track your way to experiencing
        flying in a Jet Suit with Flight Experience or earn your wings with Flight Training.</p>
    </div>
  </div>
  <!---->
</div>